<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>ControlerServelet</servlet-name>
    <servlet-class>org.karsha.visualizer.ControlerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlerServelet</servlet-name>
    <url-pattern>/ControlerServelet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PostData</servlet-name>
  	<servlet-class>org.karsha.visualizer.PostDataServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostData</servlet-name>
  	<url-pattern>/PostDataServ</url-pattern>
  	<url-pattern>/Indegree</url-pattern>
  	<url-pattern>/Outdegree</url-pattern>
  	<url-pattern>/CompleteTriad</url-pattern>
  	<url-pattern>/IncompleteTriad</url-pattern>
  	<url-pattern>/ImmediateCycles</url-pattern>
  	<url-pattern>/cc</url-pattern>
  	<url-pattern>/chain</url-pattern>
  	<url-pattern>/LongerChain</url-pattern>
  	<url-pattern>/count</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
